html, body{
    background-color:  #fff;
}

.wrap{
    width: 800px;
    margin: 10px auto 0 auto;
}

/*header*/
.header_top{
    width: 220px;
}

.details{
    width: 520px;
}

.details span{
    width: 240px;
}

/*main*/
.main{
    padding: 0 30px;
}

/*profile*/
.content{
    margin: 30px 0;
}
#profile {
    width: 240px;
    padding-right: 20px;
}

/*introduce*/
#introduce {
    width: 440px;
    padding-left: 20px;
}











